.navbar {
  background: #13892f;
}

.tformtitle > td {
  background-color: #1eb231 !important;
}

ul.navbar-top-links > li.dropdown > a:hover {
  background: #7aca77;
}

ul.navbar-top-links .open > a,
ul.navbar-top-links .open > a:hover,
ul.navbar-top-links .open > a:focus {
  background: #7aca77;
}
